/** 苹果浏览器下拉特效是超过元素总高度的 */
html,
body {
    overflow: hidden;
}

#game-view {
    position: relative;
    width: 100%;
    height: 100vh;

    canvas.webgl {
        position: absolute;
        top: 0;
        left: 0;
        outline: none; // 苹果浏览器会在canvas周围有一圈蓝边
        z-index: 1;
    }
}

/** point-lock */
#blocker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    z-index: 99;
}

#instructions {
    color: #ffffff;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
